.movieDetail{
    filter:  blur(4px) brightness(0.2) opacity(1);
    background-image: linear-gradient(to right, black , white);
    height: 600px;
    object-fit: cover;
    aspect-ratio: 1;
}

@media only screen and (max-width: 600px) {
    .movieDetail{
        max-height: 100%;
    }
}